<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="サンプル・カテゴリー"
            id="npm-plugin.commands.category">
      </category>
      <command
            name="サンプル・コマンド"
            categoryId="npm-plugin.commands.category"
            id="npm-plugin.commands.sampleCommand">
      </command>
      <command
            id="npm-plugin.commands.testCommand"
            name="テスト">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="npm-plugin.commands.sampleCommand"
            class="test.handlers.SampleHandler">
      </handler>
      <handler
            class="com.ecb.tamochu.plugins.eclipse.npm.handlers.TestHandler"
            commandId="npm-plugin.commands.testCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="npm-plugin.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="サンプル・メニュー"
               mnemonic="M"
               id="npm-plugin.menus.sampleMenu">
            <command
                  commandId="npm-plugin.commands.sampleCommand"
                  mnemonic="S"
                  id="npm-plugin.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="npm-plugin.toolbars.sampleToolbar">
            <command
                  commandId="npm-plugin.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world"
                  id="npm-plugin.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="npm-plugin.menus.npmMenu"
               label="npm"
               mnemonic="N">
            <command
                  commandId="npm-plugin.commands.testCommand"
                  id="npm-plugin.menus.testCommand"
                  mnemonic="T"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                        </adapt>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ecb.tamochu.plugins.eclipse.npm.ui.NpmPreferencePage"
            id="npm-plugin.page1"
            name="npm設定">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.ecb.tamochu.plugins.eclipse.npm.preference.NpmPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
