<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="npm-plugin.commands.npmCommand"
            name="npm実行">
         <commandParameter
               id="npm-plugin.commandParameter"
               name="cmd"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ecb.tamochu.plugins.eclipse.npm.handlers.BasicCommandHandler"
            commandId="npm-plugin.commands.npmCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="npm-plugin.menus.npmMenu"
               label="npm"
               mnemonic="N">
            <command
                  commandId="npm-plugin.commands.npmCommand"
                  id="npm-plugin.menus.npmCommand"
                  label="help"
                  mnemonic="H"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                        </adapt>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
               <parameter
                     name="npm-plugin.commandParameter"
                     value="help">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ecb.tamochu.plugins.eclipse.npm.ui.NpmPreferencePage"
            id="npm-plugin.page1"
            name="npm設定">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.ecb.tamochu.plugins.eclipse.npm.preference.NpmPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
